.footer {
	height: 315px;
	background: #322823;
	padding-top: 50px;
	padding-bottom: 15px;
	text-align: center;
	box-sizing: border-box;
}
.footer .nav {
	display: inline-block;
	margin: 40px auto;
}
.footer .nav li {
	display: inline-block;
	color: #a58d7c;
	padding: 0 30px;
}
.footer .nav li a {
	color: #a58d7c;
	font-size: 16px;
}
.footer .copy {
	line-height: 25px;
	font-size: 14px;
}
.footer .copy p {
	color: #a58d7c;
}