body,html,p,div,ul,li {
	padding: 0;
	margin: 0;
	font-family: 微软雅黑;
	color: #333;
}
body {
    min-width: 1330px;
}
p,ul,h1,h2,h3,h4,h5,input{padding: 0;margin:0;}
li{list-style: none;}
a:link,a:visited,a:hover,a:active{text-decoration: none; cursor: pointer;}
body{
  background: #fafafa;
  font-family: "PingFangSC-Light","Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","STHeitiSC-Light","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-size: 14px;
}
.clearfix{
  zoom: 1;
}
.clearfix:after{
  display: block;
  overflow: hidden;
  content: '';
  clear: both;
  height: 0;
}
.header {
	background-color: #000;
}
.header .nav-wrap {
	box-sizing: border-box;
	height: 142px;
	line-height: 142px;
	padding-left: 5px;
	border-bottom: 2px solid #b18141;
}
.header .nav-inner {
	width: 1330px;
	margin: 0 auto;	
}
.header .nav {
	display: flex;
}
.header .nav li {
	position: relative;
	flex: 1;
	line-height: 142px;
	text-align: center;
}
.header .nav li a {
	color: #c0a587;
	font-size: 16px;
}
.header .nav li .menu {
    position: absolute;
    top: 64px;
    background: #000;
    left: 50%;
    width: 86px;
    margin-left: -42px;
    box-sizing: border-box;
    display: none;
}
.header .nav li:hover .menu {
	display: block;
}
.menu-item {
	display: block;
	padding: 10px 0;
	line-height: 20px;
}
.menu-item:hover {
	background: #ccc;

}
.log {
	display: block;
	float: left;
	height: 142px;
	width: 243px;
	margin-right: 150px;
	background: url(../res/logo.png) center no-repeat;
}	
.header .bg {
	background: url(../res/bg3.jpg) top center no-repeat;
	height: 760px;
	background-size: cover;
}

/*标题*/
.module-title {
	color: #c5ac91;
}
.module-title span {
	color: #333;
}
.module-title {
	letter-spacing: 3px;
	margin-bottom: 30px;
}
/*联系我们*/
.call-form h2 {
	margin-bottom: 30px;
	font-weight: normal;
}
.call-form .company-info {
	float: left;
	padding-right: 340px;
}
.call-form .company-info p {
	margin-bottom: 15px;
}
.call-form .form {
	overflow: hidden;
}
.call-form .form input {
	height: 36px;
	line-height: 36px;
	padding: 0 10px;
	width: 672px;
	border: 0 solid #dadada;
	margin-right: 10px;
	background-color: #f3f5f7;
}
.call-form .form li {
	margin-bottom: 15px;
}
.call-form .form li span {
	color: red;
}
.call-form .form-title {
	margin-bottom: 30px;
}
.call-form .form textarea {
	height: 100px;
	padding: 10px;
	line-height: 30px;
	border: 0px solid #dadada;
	width: 672px;
	vertical-align: middle;
	margin-right: 10px;
	background-color: #f3f5f7;
}
.call-form .form button {
	width: 227px;
	background-color: #604d3f;
	border: 1px solid #604d3f;
	color: #fff;
	padding: 10px 10px;
	margin-top: 15px;
}
.call-form {
	width: 1330px;
	margin: 0 auto;	
}

/***左右结构**/
.page .menu-panel {
	float: left;
}
.page .articl-panel {
	overflow: hidden;
	padding-bottom: 30px;
}
.page .articl-panel .articl {
	display: none;
}
.page .articl-panel .articl.active {
	display: block;
}
.bar-menu {
	background-color: #d6a966;
	color: #fff;
	line-height: 60px;
	width: 220px;
	text-align: center;
}
.bar-box .index-icon {
	width: 14px;
	height: 15px;
	background: url(../res/home-icon.png) no-repeat;
	display: inline-block;
}
.bar-box {
	height: 60px;
	background-color: #b18141;
}
.bar {
	width: 1330px;
	margin: 0 auto;
	display: flex;
}
.page .bar .inner {
	text-align: right;
	font-size: 12px;
	flex: 1;
	line-height: 60px;
	display: flex;
    justify-content: flex-end;
    align-items: center;	
}
.page .bar .item {
	padding: 0 5px;
	font-size: 13px;
	opacity: 0.8;
}
.page .bar .inner, .page .bar .inner a {
	color: #fff;
}
.page .articl-panel .articl p {
	line-height: 30px;
	margin-bottom: 30px;
}
.page .articl-panel .articl h3 {
	color: #c0a587;
	margin-bottom: 15px;
}
/*导航*/
.menu-panel {
	line-height: 40px;
	text-align: center;
	border: 1px solid #f6f6f6;
	margin-right: 30px;
	margin-left: 2px;
}
.menu-panel li {
	width: 180px;
	border-bottom: 1px solid #d7d7d7;
}
.menu-panel li:hover {
	color: #c0a587;
}
.menu-panel li:last-child {
	border:none;
}
.menu-panel .menu {
	margin: 0 3px;
}
.menu-panel li a {
	color: #333;
}
.menu-panel li.active a {
	color: #c0a587;
}
.menu-panel .title {
	background: #c0a587;
	color: #fff;
}

/**左侧链接菜单**/
.link-menu {
	padding: 10px;
	text-align: left;
}
.link-menu {
	border:1px solid #dbc7af;
}
.link-menu  li {
	border: none;
}
.link-menu  li.active a {
	color: #c0a587;
}
.link-menu li:hover a {
	color: #c0a587;
	font-weight: bold;
}